{% use "bootstrap_5_layout.html.twig" %}

{% block form_errors %}
    {% if errors|length > 0 %}
        {% if compound %}
            {# ... display the global form errors #}
            <ul>
                {% for error in errors %}
                    <li>{{ error.message }}</li>
                {% endfor %}
            </ul>
        {% else %}
            {# ... display the errors for a single field #}
            {% for error in errors %}
                <div style="color: #842029">
                    {{ error.message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endif %}
{% endblock form_errors %}


