<turbo-stream action="prepend" target="formLogin">
    <template>
        <div class="col-md-10 mx-auto col-lg-12 text-center" id="formLogin">
            <div class="alert alert-danger text-danger" role="alert" data-alert-target="alertSuccess">
                Il existe pas de compte pour cet e-mail.
            </div>
        </div>
    </template>
</turbo-stream>
