<!-- App features section-->
<section id="features" class="bg-white">
    <div class="container col-xxl-8 ">
        <div class="row flex-lg-row align-items-center">
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="{{ asset('build/images/img/running2.png') }}" {{ stimulus_controller('parallax') }}
                     data-overflow="true" id="bike"
                     class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500"
                     loading="lazy">
            </div>
            <div class="col-lg-6">
                <p class="lead">SPAMI est avant tout une famille qui aime partager des moments de plaisir et des passions communes.
                Se rassembler pour pratiquer du sport, faire une sortie culturelle, où des travaux manuels est un art de vivre.</p>
                <h3 class="display-2 mb-3">Pourquoi avoir créé SPAMI ?</h3>
                <p class="lead"> Notre premier souhait est que vous puissiez aussi trouver des personnes
                avec qui partager vos passions autour de vous ou ailleurs et creer votre propre communauté.</p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                    {#                    <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Primary</button> #}
                    {#                    <button type="button" class="btn btn-outline-secondary btn-lg px-4">Default</button> #}
                </div>
            </div>
        </div>
    </div>
</section>
