<!-- App features section-->
<section id="features" class="bg-white">
    <div class="container col-xxl-8 px-3">
        <div class="row flex-lg-row-reverse align-items-center">
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="{{ asset('build/images/img/velo.png') }}" {{ stimulus_controller('parallax') }}
                     data-overflow="true" id="bike"
                     class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500"
                     loading="lazy">
            </div>
            <div class="col-lg-6">
                <h2 class="display-2 lh-2 mb-3">Quel est notre objectif ?</h2>
                <p class="lead">Notre but est simple vous aidez à rencontrer, partager et élargir votre cercle d'amitié.</p>
                <p class="lead">Nous souhaitons, à court termes, vous proposer des outils qui vous permettront de créer une communauté pour partager vos idées et de vous rassembler.</p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                    {#                    <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Primary</button> #}
                    {#                    <button type="button" class="btn btn-outline-secondary btn-lg px-4">Default</button> #}
                </div>
            </div>
        </div>
    </div>
</section>
