<!-- App features section-->
<section id="features">
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-8 order-lg-1 mb-5 mb-lg-0">
                <div class="">
                    <div class="row gx-5">
                        <div class="col-md-6 mb-5">
                            <!-- Feature item-->
                            <div class="text-center">
                                <i class="bi-phone icon-feature text-gradient d-block mb-3"></i>
                                <h3 class="font-alt">Responsive</h3>
                                <p class="text-muted mb-0">SPAMI fonctionne aussi bien sur <b>Smartphone</b>, <b>Tablette</b> ou <b>PC</b>
                                    !</p>
                            </div>
                        </div>
                        <div
                                class="col-md-6 mb-5">
                            <!-- Feature item-->
                            <div class="text-center">
                                <i class="bi-alarm icon-feature text-gradient d-block mb-3"></i>
                                <h3 class="font-alt">Rapide</h3>
                                <p class="text-muted mb-0">nos profils matchent <b>vos préférences</b> ! Ne perdez plus votre temps inutilement.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div
                                class="col-md-6 mb-5 mb-md-0">
                            <!-- Feature item-->
                            <div class="text-center">
                                <i class="bi-gift icon-feature text-gradient d-block mb-3"></i>
                                <h3 class="font-alt">Gratuit</h3>
                                <p class="text-muted mb-0">SPAMI est aussi <b>gratuit</b>, et ça le restera <b>toujours</b>.
                                </p>
                            </div>
                        </div>
                        <div
                                class="col-md-6">
                            <!-- Feature item-->
                            <div class="text-center">
                                <i class="bi-patch-check icon-feature text-gradient d-block mb-3"></i>
                                <h3 class="font-alt">Confidentialité</h3>
                                <p class="text-muted mb-0">Nous ne stockons pas votre <b>position exacte</b> pour vous
                                    localiser ! La confidentialité est notre <b>leitmotiv</b>.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 order-lg-0">
                <div class="text-center mb-3">
                    <h3>Inscrivez-vous !</h3>
                </div>
                {{ include('user/login.html.twig') }}
            </div>
        </div>
    </div>
</section>
