<!-- App badge section-->
<section class="bg-gradient-primary-to-secondary" id="download">
    <div class="container px-5">
        <h3 class="text-center text-white font-alt mb-4">Déjà {{ countUser }} comptes créer sur Spami !</h3>
    </div>
</section>
