<!-- Feedback Modal-->
<div id="front-modal" class="modal" tabindex="-1" role="dialog" data-commun-target="modal">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-gradient-primary-to-secondary">
                <h5 class="modal-title font-alt text-white" id="feedbackModalLabel">{{ title|default('') }}</h5>
                <button class="btn-close btn-close-white" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body wrapper mx-4">
            </div>
        </div>
    </div>
</div>
