<!-- Quote/testimonial aside-->
<aside class="text-center">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-xl-8">
                <div class="h2 fs-1 mb-4">
                    {{"❝Enfin un réseau fait pour se réunir et partager autour d'une même passion.❞"|upper}}</div>
            </div>
        </div>
    </div>
</aside>
