<!-- Quote/testimonial aside-->
<aside class="text-center">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-xl-8">
                <div class="h2 fs-1 mb-4">
                    {{"❝ Une passion commune, c'est sur Spami ! ❞"|upper}}</div>
            </div>
        </div>
    </div>
</aside>
