<!-- Quote/testimonial aside-->
<aside class="pull-left">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-xl-8">
                <div class="h2 fs-1">
                    <blockquote class="blockquote text-left">
                        <p>{{"❝La plus grande richesse qui a le plus de valeur, n'est pas placée en banque, mais dans notre coeur.❞"|upper}}</p>
                        <footer class="blockquote-footer" style="background: transparent">Spami</footer>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
</aside>
