<footer class="container">
    <p class="float-end"><a href="#" title="Remonter en haut de la page">Back to top</a></p>
    <p>© 2017–2021 Company, Inc. · <a href="#" title="Politique">Privacy</a> · <a href="#" title="Termes utilisation">Terms</a></p>
</footer>
