<ul>
    Avantages inclus dans votre abonnement :
    <li><i class="bi bi-check-circle-fill text-success"></i> Illimité Spamis par jours
    </li>
    <li><i class="bi bi-check-circle-fill text-success"></i> Géolocalisation plus
        précise.
    </li>
    <li>
        <i class="bi bi-check-circle-fill text-success"></i> Visualisation des matchs
        reçus.
    </li>
    <li><i class="bi bi-check-circle-fill text-success"></i> Recherche avancée.
    </li>
</ul>