<turbo-stream action="replace" target="formLogin">
    <template>
        <div class="alert alert-success text-center" role="alert" data-alert-target="alertSuccess">
            Enregistrement avec Succès.
        </div>
    </template>
</turbo-stream>
