<turbo-stream action="replace" target="contactForm">
    <template>
        <div class="alert alert-success text-center" role="alert" data-alert-target="alertSuccess">E-mail envoyé.</div>
        {{ include('contact/_form.html.twig', {'form': form}) }}
    </template>
</turbo-stream>
