{#<form method="post" action="{{ path('user_delete') }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer votre compte ?');">#}
{#    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ app.user.id) }}">#}
    <a class="btn btn-outline-danger post-confirm"
       data-button-text="Supprimer"
       data-title="Supprimer"
       data-confirm-message="Souhaitez-vous supprimer votre compte ?"
       href="{{ path('user_delete') }}" title="Supprimer votre compte" >Supprimer mon compte</a>
{#</form>#}
